In [1]:
import pandas as pd

# Section 199.1: Simple transform

In [2]:
orders_df = pd.DataFrame()
orders_df['customer_id'] = [1,1,1,1,1,2,2,3,3,3,3,3]
orders_df['order_id'] = [1,1,1,2,2,3,3,4,5,6,6,6]
orders_df['item'] = ['apples', 'chocolate', 'chocolate', 'coffee', 'coffee', 'apples',
                     'bananas', 'coffee', 'milkshake', 'chocolate', 'strawberry', 'strawberry']

In [3]:
orders_df.head()

   customer_id  order_id       item
0            1         1     apples
1            1         1  chocolate
2            1         1  chocolate
3            1         2     coffee
4            1         2     coffee

## Transform selected columns

In [57]:
orders_df.loc[:, ['customer_id', 'order_id']].transform(lambda x: x + 100).head()

   customer_id  order_id
0          101       101
1          101       101
2          101       101
3          101       102
4          101       102

## 用 apply 算每個 customer 有幾次 orders
apply() 跟 transform() 最大差異在於 apply 是用來處理整個 dataframe; transform 是用來處理一個個 column (Series)

In [7]:
count_order = lambda x: x['order_id'].nunique()

In [11]:
(orders_df
 .groupby('customer_id')
 .apply(count_order))

customer_id
1    2
2    1
3    3
dtype: int64

## transform 適合用在把 aggregated  result 放回原來的 dataframe
e.g. 利用 transform 把每個 customer 的 orders 放入對應的 dataframe 的每個 row 裡頭

References
- https://stackoverflow.com/a/27951930/3859572

In [30]:
orders_df.transform?

In [58]:
count_order = lambda x: x.nunique()

In [64]:
orders_df['num_offers_per_customer'] = (
    orders_df
    .groupby('customer_id')['order_id']
    .transform(count_order)  
)
orders_df

    customer_id  order_id        item  num_offers_per_customer
0             1         1      apples                        2
1             1         1   chocolate                        2
2             1         1   chocolate                        2
3             1         2      coffee                        2
4             1         2      coffee                        2
5             2         3      apples                        1
6             2         3     bananas                        1
7             3         4      coffee                        3
8             3         5   milkshake                        3
9             3         6   chocolate                        3
10            3         6  strawberry                        3
11            3         6  strawberry                        3